{% extends "layout.html" %}
{% block body %}
<p><h1>Hello, {{ nick }}</p>
<div class="bulb_container">
</div>
<div class="countdown" style="display:none;">
</div>
<div class="test_message" style="display:none;">
    <p><h5>Rozpocznij sesję treningową</h5></p>
<button id="run_test_session">Dawaj</button>
</div>
<div class="session_message" style="display:none;">
    <p><h5>Rozpocznij właściwą sesję</h5></p>
<button id="run_real_session">Dawaj</button>
</div>
<div class="bye_message" style="display:none;">
    <p><h5>Do widzenia</h5></p>
</div>
{% endblock %}
{% block scripts %}
<script src="/js/bulbs.js"></script>
{% endblock %}
