{% extends "layout.html" %}
{% block body %}
<div class="bulb_container">
</div>
<div class="countdown message" style="display:none;">
</div>
<div class="test_message message" style="display:none;">
    <p><h5>Begin the training session</h5></p>
<button id="run_test_session" class="button"><span>Go!</span></button>
</div>
<div class="session_message message" style="display:none;">
    <span><h5>Begin the actual session</h5></span>
    <button id="run_real_session" class="button"><span>Go!</span></button>
</div>
<div class="bye_message message" style="display:none;">
    <p><h5>Thank you!</h5></p>
</div>
{% endblock %}
{% block scripts %}
<script src="/js/bulbs.js"></script>
{% endblock %}
