<form id="contact-form" action="/" method="post">
    <input type="hidden" name="redirect" value="http://www.opera.com" />
    Timeout:<br>
    <input type="number" name="timeout" id="timeout" value="5000" /><br>
    <input type="radio" name="mode" value="const" checked />Stały czas świecenia lamp<br>
    <input type="radio" name="mode" value="relative" />Wyłącz lampy po wciśnięciu ostatniej<br>
    <input type="checkbox" name="feedback" value="True">Feedback<br>
    <input type="submit" value="submit" />
    <input type="reset" value="reset" />
</form>
